/* Font style  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header {
	background: rgba(255, 144, 14, 0.1);
}

body {
	font-family: 'Poppins', sans-serif;
}
main,
header {
	width: 80%;
	margin: 0 auto;
}

/* common button  */
.btn {
	display: flex;
	justify-content: center;
	background: #ff900e;
	border: none;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px 20px;
	margin: 0 auto;
	margin-top: 32px;
	margin-bottom: 50px;
}

/* navigation bar style */

nav {
	display: flex;
	justify-content: space-between;
	padding: 20px;
	margin-bottom: 116px;
}
ul {
	display: flex;
}
ul li {
	list-style: none;
	padding-left: 20px;
}
ul li a {
	text-decoration: none;
	background-color: antiquewhite;
	padding: 10px;
	font-size: 18px;
	border-radius: 5px;
	font-weight: bold;
}
ul li a:hover {
	background-color: burlywood;
}
.banner-details h1 {
	font-weight: 700;
	font-size: 35px;
	text-align: center;
	color: #131313;
	margin-bottom: 10px;
	/* width: 100%; */
}
.banner-details p {
	height: 52px;
	width: 100%;
	font-weight: 700;
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	color: #727272;
	/* width: 100%; */
}
.btn a {
	text-decoration: none;
	color: #ffffff;
}

.banner img {
	width: 100%;
    padding: 30px;
}
.features {
	display: flex;
	align-items: center;
}
.team-features {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	padding: 73px;
}
.team-features img {
	width: 100%;
}
.features-info {
	width: 50%;
}
.features-info h1 {
	font-size: 35px;
}
.features-btn {
	margin-left: 0;
}

.love-enjoy {
	display: flex;
	gap: 100px;
	margin-bottom: 100px;
}
.love-enjoy-info {
	width: 80%;
}

.love-enjoy h1 {
	font-weight: 700;
	font-size: 20px;
	border-left: 6px solid #ff900e;
	padding: 0 10px;
}

.love-enjoy p {
	font-weight: 400;
	font-size: 16px;
	color: #727272;
}
.love-enjoy img {
	width: 100%;
}
.device-info {
	width: 100%;
	height: 10rem;
}
.device-info article {
	background: #ffffff;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.06);
	border-radius: 8px;
	padding: 20px;
	margin: 10px;
}
.experience{
	width: 25%;
	background: #ff900e;
	border-radius: 10px;
	padding: 25px 30px;
	color: white;
	font-weight: 700;
	font-size: 30px;
	line-height: 50px;
    border: none;
    position: relative;
    left: 33rem;
    bottom: 11rem;
}
.award-wining{
    display: grid;
    grid-template-columns: repeat(4,1fr);
	margin-bottom: 30px;
}
.award-wining-info{
    margin: 20px 50px;
    background-color: burlywood;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    transition: 0.6s;
	color: #727272;
}
.award-wining-info h4{
	color: #424242;
	font-size: 20px;
	
}

.award-wining-info:hover{
    transform: rotate(360deg);
}
.unique{
	display: grid;
	grid-template-columns: repeat(4,1fr);
	gap: 20px;
	width: 100%;
	margin-top: 50px;
}
.unique img{
	width: 100%;
    height: 200px;
	border-radius: 10px;
	transition: 0.7s;
	overflow: hidden;
}
.unique img:hover{
	transform: scale(1.1);
	transition: 0.6s;
}
.sponsors{
	margin: 50px 0px;
}
.sponsors-info{
	text-align: center;
	padding-bottom: 50px;
}
.sponsor-logo{
	display: flex;
	gap: 50px;
	filter: grayscale(1);
}
.footer{
	text-align: center;
	background: #FFF4E7;
	padding: 20px;
	margin-bottom: 50px;
}

@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
	nav h2 {
		font-size: 16px;
        text-align: center;
        padding-bottom: 10px;
	}
	nav{
        display: block;
        justify-content: center;
        padding: 10px;
	}
    nav ul{
        display: block;
        justify-content: center;
        margin-left: 80px;
    }

	nav ul li {
		padding: 10px;
	}
	.banner-details p {
		margin-bottom: 10rem;
	}
	.features {
        display: block;
		flex-direction: column;
	}
    .features-info{
        width: 100%;
    }
	.team-features {
		grid-template-columns: repeat(1, 1fr);
		padding: 5px;
	}
	.device-info{
		width: 300px;
		
	}
	.device-info p{
		width: 270px;
	}
    .love-enjoy-info article , p {
	padding: 5px;
	text-align: justify;
	width: 100%;
    }
    .love-enjoy{
        flex-direction: column;
    }
    .love-enjoy-info{
        height: 100vh;
        margin-bottom: 14rem;
    }
	/* .experience{
		width:20%;
	} */
   .experience {
	width: 60%;
	height: 150px;
	font-size: 18px;
    left: 4rem;
    bottom: 12rem;
}
.experience button p{
	position: relative;
	left: 20px;
}
.award-wining{
    grid-template-columns: repeat(1,1fr);
    width: 100%;
}
.award-wining-info{
	width: 100%;
    margin: 2px 10px;
    background-color: burlywood;
    border-radius: 10px;
    transition: 0.6s;
}
.unique{
	grid-template-columns: repeat(1,1fr);
	width: 100%;
}
.unique img{
    width: 100%;
	height: 300px;
}
.sponsor-logo{
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 10px;
}
}



@media screen and (min-width: 577px) and (max-width: 992px) {
	nav h2 {
	font-size: 18px;
}

.banner-details p{
	margin-bottom: 4rem;
}
.features {
	flex-direction: column;
}
.team-features img{
	width: 18rem;
}
.features-info{
	width: 100%;
}
.love-enjoy{
	flex-direction: column-reverse;
}
.experience{
	bottom: 39rem;
	left: 10rem;
	width: 50%;
	text-align: center;
}
.device-info{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	gap: 30px;
	margin-left: 0;
}
.device-info article{
	width: 280px;
	padding: 20px;
}
.some-facts{
	margin: 15rem 0px 3rem 0px;
}
.award-wining{
	grid-template-columns: repeat(2,1fr);
	margin-left: 0;
}
.unique{
	grid-template-columns: repeat(2,1fr);
}
.sponsor-logo{
	width: 700px;
	flex-wrap: wrap;
}

}
